*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
}

table{
    border:1px solid black;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

tr{
    width: 80%;
}

th,td{
    border:1px solid black;
    height: 100px;
    text-align: center;
}

button{
    background-color: green;
    border-radius: 5px;
    padding: 10px 5px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    color: honeydew;
}